<style type="text/css">

	A:link {text-decoration: none; color: #666666; font-size:9pt;}
	A:visited {text-decoration: none; color: #666666; font-size:9pt;}
	A:active {text-decoration: none; color: #666666; font-size:9pt;}
	A:hover {text-decoration: none; color: #666666; font-size:9pt;}
	input,textarea {font-size: 9pt ; color:666666; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid;text-decoration:none;}
	body {line-height: 130% ; font-size: 9pt ; color:666666; font-family: ±¼¸²,verdana}
	select {line-height: 130% ; font-size: 9pt ; color:666666; font-family: ±¼¸²,verdana}
	table {line-height: 130% ; font-size: 9pt ; color:666666; font-family: ±¼¸²,verdana}
	td  {line-height: 130% ; font-size: 9pt ; color:666666; font-family: ±¼¸²,verdana}
	tr   {line-height: 130% ; font-size: 9pt ; color:666666; font-family: ±¼¸²,verdana}
	div {text-decoration: none; line-height: 130% ; font-size: 9pt ; color:666666; font-family: ±¼¸²,verdana}
	A.sub:link {FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none}
    A.sub:visited {FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none}
    A.sub:active {FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none}
    A.sub:hover {	FONT-SIZE: 9pt; COLOR: #FFAC7D; TEXT-DECORATION: none}
	td.sub1 {color:#ffffff;	 font-size:9pt;	line-height: 180%;}
	A.gong:link {text-decoration:none; color:001CC6; font-size:9pt;}
	A.gong:visited {text-decoration:none; color:001CC6; font-size:9pt;}
	A.gong:active {text-decoration:none; color:#333333; font-size:9pt;}
	A.gong:hover {text-decoration:none; color:#333333; font-size:9pt;}
	.input3 { BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none; BORDER-BOTTOM-WIDTH: 0px; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px; SOLID: color:#808080; font-size: 8pt; }
	.input4 { BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none; BORDER-BOTTOM-WIDTH: 0px; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px; SOLID: color:#ffffff; font-size: 9pt; }
	
	.black { FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 15px; FONT-FAMILY: "±¼¸²"; TEXT-DECORATION: none }
	A.red:link {text-decoration:none; color:red; font-size:9pt;}
	A.red:visited {text-decoration:none; color:red; font-size:9pt;}
	A.red:active {text-decoration:none; color:red; font-size:9pt;}
	A.red:hover {text-decoration:none; color:red; font-size:9pt;}
	
    .tt {BORDER-BOTTOM: 0px solid;	BORDER-LEFT: 0px solid;BORDER-RIGHT: 0px solid;	BORDER-TOP: 0px solid;	font-family: "±¼¸²";	font-size: 9pt;	font-style: normal;	line-height: 130%;color: #666666;}

	body {
	scrollbar-3dlight-color:#595959;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-base-color:#CFCFCF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-face-color:#CFCFCF;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-shadow-color:#595959;
	}
    
.bold {
	font-family: "±¼¸²";
	font-size: 9pt;
	font-weight: bold;
	color: 333333;
}

</style>