.page-header-1 {
    background-image: url(/assets/images/bg_page_header_4.jpg) !important;
}
/* 공통 */
.recruit .container {
    padding-top: 70px;
    padding-bottom: 150px;
}
.recruit .search-area {
    margin-bottom: 30px;
}

/* recruit-info */
.recruit.recruit-info .process > .section-content > .process-list {
    overflow: hidden;
    display: inline-block;
}
.recruit.recruit-info .process > .section-content > .process-list > li {
    position: relative;
    float: left;
    padding-right: 50px;
}
.recruit.recruit-info .process > .section-content > .process-list > li:last-child {
    padding-right: 0;
}
.recruit.recruit-info .process > .section-content > .process-list > li:before {
    position: absolute;
    top: 78px;
    left: -35px;
    content: url(/assets/images/business/right_arrow.png);
}
.recruit.recruit-info .process > .section-content > .process-list > li:nth-of-type(1):before {
    content: "";
}
.recruit.recruit-info .process > .section-content > .process-list > li > .icon {
    display: inline-block;
    width: 180px;
    height: 180px;
    text-align: center;
    padding-top: 58px;
    border-radius: 50%;
    background-color: #249250;
}
.recruit.recruit-info .process > .section-content > .process-list > li:nth-of-type(2n+ 2) > .icon {
    background-color: #97b74e;
}
.recruit.recruit-info .process > .section-content {
    text-align: center;
}
.recruit.recruit-info .process > .section-content > .process-list > li > .details {
    margin-top: 15px;
    margin-bottom: 35px;
    line-height: 24px !important;
    text-align: center;
}
.recruit.recruit-info .recruitment > p {
    margin-top: 12px;
}
.recruit.recruit-info .recruitment > p:before {
    content: "※";
    padding-right: 5px;
}
.recruit.recruit-info .recruitment > .section-content {
    padding: 35px 42px;
    border: 1px solid #efefef;
    background-color: #fcfcfc;
}
.recruit.recruit-info .recruitment > .section-content > h4 {
    font-size: 16px;
    color: #4e4e4e;
    margin: 0 0 20px 0;
}
.recruit.recruit-info .recruitment > .section-content > h4:nth-of-type(2) {
    margin-top: 40px !important;
}
.recruit.recruit-info .recruitment > .section-content > .dot-list > li {
    font-size: 15px !important;
    line-height: 30px !important;
}


.recruit.recruit-info .qualification > .section-header > h3 {
    padding-top: 140px !important;
}
.recruit.recruit-info .qualification > p {
    margin-bottom: 40px;
}
.recruit.recruit-info .qualification > .dot-list {
    padding: 35px 42px;
    border: 1px solid #efefef;
    background-color: #fcfcfc;
}
.recruit.recruit-info .qualification > .dot-list > li {
    line-height: 30px !important;
}
.recruit.recruit-info .submission {
    position: relative;
}
.recruit.recruit-info .submission > .section-header > h3 {
    padding-top: 120px !important;
}
.recruit.recruit-info .submission > p {
    margin-bottom: 40px;
}
.recruit.recruit-info .submission > .btn-area {
    position: absolute;
    top: 176px;
    right: 0;
}
.recruit.recruit-info .submission > .btn-area > p > .btn-white {
    width: 236px !important;
    height: 45px !important;
    color: #4e4e4e !important;
    border: 1px solid #9a9a9a;
    line-height: 34px !important;
    margin: 0 !important;
}
.recruit.recruit-info .submission > .dot-list {
    padding: 35px 42px;
    border: 1px solid #efefef;
    background-color: #fcfcfc;
}
.recruit.recruit-info .submission > .dot-list > li {
    line-height: 30px !important;
}
.recruit.recruit-info .receipt > .section-header > h3 {
    padding-top: 120px !important;
}
.recruit.recruit-info .receipt > p {
    margin-bottom: 40px;
}
.recruit.recruit-info .receipt > dl {
    overflow: hidden;
}
.recruit.recruit-info .receipt > dl > dt {
    float: left;
    clear: both;
    font-size: 18px;
    color: #222;
    width: 98px;
    line-height: 35px;
}
.recruit.recruit-info .receipt > dl > dd {
    float: left;
    font-size: 18px;
    color: #222;
    line-height: 35px;
}
.recruit.recruit-info .receipt > dl > dd > a {
    color: #222;
}



/* recruit-notice */
.recruit.recruit-notice .table-wrap > .table {
    margin: 0;
}
.recruit.recruit-notice .table-wrap > .table > thead > tr > th {
    border-right: 0 !important;
}
.recruit.recruit-notice .table-wrap > .table > tbody > tr > td {
    border-right: 0 !important;
    padding: 30px 0 !important;
}
.recruit.recruit-notice .table-wrap > .table > tbody > tr > .subject {
    text-align: left !important;
}
.recruit.recruit-notice .table-wrap > .table > tbody > tr > td > a {
    color: #4e4e4e;
}
.recruit.recruit-notice .table-wrap > .table > tbody > tr > td > span {
    display: inline-block;
    width: 85px;
    height: 38px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 38px;
}
.recruit.recruit-notice .table-wrap > .table > tbody > tr > td > .ongoing {
    background-color: #249250;
}
.recruit.recruit-notice .table-wrap > .table > tbody > tr > td > .deadline {
    background-color: #6f6f6f;
}
.recruit.recruit-notice .table-wrap > .paging {
    margin-top: 80px;
}
.recruit.recruit-notice .table-wrap > .paging > .pagination {
    margin: 0;
}





/* talented */
.recruit.talented .talented > .section-content {
    overflow: hidden;
    text-align: center;
    background-image: url(/assets/images/recruit/talented_bg.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 88px 0 107px 30px;
}
.recruit.talented .talented > .section-content > div {
    float: left;
    width: 325px;
    margin-right: 53px;
    display: inline-block;
}
.recruit.talented .talented > .section-content > div > p > img {
    margin-bottom: 30px;
    margin-left: -6px;
}
.recruit.talented .talented > .section-content > div > dl > dt {
    width: 308px;
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: 400;
    color: #4e4e4e;
    margin: 0;
}
.recruit.talented .talented > .section-content > div > dl > dd {
    padding-top: 30px;
    font-size: 17px;
    color: #4e4e4e;
    margin: 0;
}
.recruit.talented .talented > .section-content > .enthusiastic > dl > dt {
    border-bottom: 1px solid #97b74e;
}
.recruit.talented .talented > .section-content > .unison > dl > dt {
    border-bottom: 1px solid #299252;
}
.recruit.talented .talented > .section-content > .conscience > dl > dt {
    border-bottom: 1px solid #ef8c17;
}







/* welfare */
.recruit.system .system-content > p {
    margin-bottom: 40px;
}
.recruit.system .system-content > .list > li {
    overflow: hidden;
    margin-bottom: 70px;
}
.recruit.system .system-content > .list > li:last-child {
    margin-bottom: 0;
}
.recruit.system .system-content > .list > li > .icon {
    float: left;
    display: inline-block;
    width: 270px;
    height: 165px;
    text-align: center;
    margin-right: 40px;
    background-image: url(/assets/images/recruit/welfare_bg01.gif);
}
.recruit.system .system-content > .list > li > .icon > img {
    padding:
}
.recruit.system .system-content > .list > li:nth-of-type(2n+2) > .icon {
    background-image: url(/assets/images/recruit/welfare_bg02.gif);
}
.recruit.system .system-content > .list > li > .details {
    float: left;
    overflow: hidden;
}
.recruit.system .system-content > .list > li > .details > h4 {
    font-size: 24px !important;
    color: #222 !important;
    font-weight: 400 !important;
    margin: 0 0 10px 0 !important;
}
.recruit.system .system-content > .list > li > .details > .dot-list {
    float: left;
    margin-right: 100px;
}
.recruit.system .system-content > .list > li > .details > .dot-list  > li {
    font-size: 15px !important;
}
.recruit.system .system-content > .list > li > .details > .dot-list:last-child {
    margin-right: 0;
}

/* welfare */
.recruit.welfare .system-content > .list > li:nth-of-type(1) > .icon > img {
    padding-top: 38px;
}
.recruit.welfare .system-content > .list > li:nth-of-type(2) > .icon > img {
    padding-top: 40px;
}
.recruit.welfare .system-content > .list > li:nth-of-type(3) > .icon > img {
    padding-top: 34px;
}


/* education */
.recruit.education .system-content > .list > li > .details > p {
    margin-bottom: 20px;
    color: #222 !important;
}
.recruit.education  .system-content > .list > li:nth-of-type(1) > .icon > img {
    padding-top: 33px;
}
.recruit.education  .system-content > .list > li:nth-of-type(2) > .icon > img {
    padding-top: 28px;
}
.recruit.education  .system-content > .list > li:nth-of-type(3) > .icon > img {
    padding-top: 38px;
}
.recruit.education  .system-content > .list > li:nth-of-type(4) > .icon > img {
    padding-top: 37px;
}




























































































